<%- include('./partials/head.ejs') %>

    <%- include('./partials/header.ejs') %>
    
    <main>
             
        <div>
            
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">Cargá Tu Field</h4>
                    <p class="text-center">Bienvenido/a a Fields!</p>
                    <form>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="Nombre Producto" type="text" required>
                        </div> 
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="Descripción" type="text">
                        </div>

                        <!-- repite 4 veces  -->

                        <div class="form-group input-group row">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-default">XS</button>
                                  <button type="button" class="btn btn-default">S</button>
                                  <button type="button" class="btn btn-default">M</button>
                                  <button type="button" class="btn btn-default">L</button>
                                  <button type="button" class="btn btn-default">XL</button>
                                </div>
                            </div>
                            <div class="input-group-prepend col-2">
                            </div>
                            <input name="" class="form-control" placeholder="Cant." type="number" required>
                        </div>
                        <div class="form-group input-group row">
                            <div class="btn-group col-4">
                                <input name="" class="number" placeholder="Precio" type="number" required>
                            </div>
                        </div>
                        <div class="form-group">
                              <div class="form group input-group">
                                  <label class="input-group-btn">
                                  <input accept=".jpg,.png,.jpeg,.gif" class="form-control" id="banner_captura" name="ImageProducto" type="file" value="">
                                </label>
                              </div>
                          </div>                      
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Cargar Producto </button>
                        </div>                                                                       
                    </form>
                </article>
            </div>  
        </div> 

        
            </main> 
            
            <%- include('./partials/footer.ejs') %>
            