<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    
    <main>
             
        <div class="container">
            
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">Cargá Tu Field</h4>
                    <p class="text-center">Bienvenido/a a Fields!</p>
                    <form>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="Nombre Producto" type="text">
                        </div> 
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="Descripción" type="text">
                        </div>
                        <div class="container">
                            <div class="form-group"></div>
                              <div class="form group input-group">
                                  <label class="input-group-btn">
                                  <input accept=".jpg,.png,.jpeg,.gif" class="form-control" id="banner_captura" readonly="readonly" name="banner_captura" type="file" value="">
                                </label>
                              </div>
                          </div>                      
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Cargar Producto </button>
                        </div>                                                                       
                    </form>
                </article>
            </div>  
        </div> 

        
            </main> 
            
            <%- include('./partials/footer.ejs') %>
            
            
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            
        </div>
    </body>
    </html>