<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/header.ejs') %>

  
  <main>
    <div class="compras">
      <div class="comprasSub">
        <h1>Carrito</h1>
      </div>
      <div class='comprasSub'>
        <div class='img'>
          <img src="/images/WalkersW.PNG" alt="">
          <div class= "close">
            <img src="https://img.icons8.com/ios/50/000000/close-window.png"/>
          </div>
        </div>
        <h5>Producto:</h5>
        <h5>Precio:</h5>
        <h5>Cantidad:</h5>
        <h5>Subtotal:</h5>
      </div>
      <div class="comprasSub">
        <h3>Total del Carrito</h3>
        
        
        <div>
          <h5>Subtotal:</h5>
          <h5>Envío:</h5>
          <h5>Total:</h5>
        </div>
        
        <div>
          <button type="button" class="btn btn-dark">Finalizar Compra</button>
        </div>
      </div>
    </div>
  </main> 
  
  <%- include('./partials/footer.ejs') %>

  
