<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    
    <main>
        <div class="container">
            <div class="row">
                <h1 class="page-header"> Tostada Geométrica</h1>
            </div>
            
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="main-product-image">
                        <img src="/images/fields2.jpg" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6">
                    <form class="form-horizontal" action="/cart/add/:id" method="post" enctype="multipart/form-data" name="buy">
                        
                        <!-- Product Price  -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-3 form-control-label nopaddingtop">Precio:</label>
                            <div class="col-sm-8 col-md-9">
                                <span class="product-form-price" id="product-form-price">$500.00</span>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="size" class="col-sm-3 col-md-3 form-control-label">Size:</label>
                            <div class="col-sm-8 col-md-9">
                             
                              <input type="number" class="qty form-control" id="input-qty" name="qty" maxlength="7" value="1">
                            </div>
                          </div>

                        <div class="form-group row">
                            <label for="Quantity" class="col-sm-3 col-md-3 form-control-label">Quantity:</label>
                            <div class="col-sm-8 col-md-9">
                             
                              <input type="number" class="qty form-control" id="input-qty" name="qty" maxlength="5" value="1">
                            </div>
                          </div>
                        
                          <div class="form-group product-stock product-available row visible">
                            <label class="col-sm-3 col-md-3 form-control-label"></label>
                            <div class="col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-3">
                
                            <a href="javascript:history.back()" class="btn btn-link btn-sm" title="Continue Shopping">← Continue Shopping</a>

                              <input type="submit" class="adc btn btn-dark" value="Add to Shopping Cart">
                                              
                             
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-sm-3 col-md-3 form-control-label">Description:</label>
                            <div class="col-sm-8 col-md-9 description">
                              <p>Bomabacha de campo unisex. Orgullosamente 100% Industria Argentina</p>
                            </div>
                          </div>

                          <div class="linkTalles">
                            
                            <a href="/images/talles.jpg" class="btn btn-link btn-sm" title="Tabla de talles">Tabla de Talles</a>
                          </div>

                          <div class="talles .img-fluid rounded float-left">
                            <img src="/images/talles.jpg" class="img">
                          </div>

                        <input type="hidden" value="nDolT3hRvGuCl5YcE9D1e3DIe1z0Kg127Xg43qTwtqA=" name="authenticity_token"></form>
                    </div>
                    
                </div>
            </div>
            
        </main>
        
        <%- include('./partials/footer.ejs') %>