<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/header.ejs') %>

<main>
    <div class="container-fluid detalleProducto">
        <div class="container">
            <img src="/images/Mica AZ Front.jpg" alt="">
        </div>
    </div>

</main>

<%- include('./partials/footer.ejs') %>