<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/header.ejs') %>
  
    
    <main>
        <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-2" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="view">
                        <img class="d-block w-100" src="/images/banner1.PNG" alt="First slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">10% Off En Walkers!</h3>
                        <p>Fields Outfitting</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="view">
                        <img class="d-block w-100" src="/images/banner2.PNG" alt="Second slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Nuevos Productos!</h3>
                        <p>Fields Outfitting</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="view">
                        <img class="d-block w-100" src="/images/banner3.PNG" alt="Third slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Compra Gato</h3>
                        <p>Fields Outfitting</p>
                    </div>
                </div>
            </div>
            
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            
        </main> 

        <div class="row galeria">
            <div class="col-lg-4 sm-12 fg">
                <img src="/images/WalkersB.PNG" alt="">
                <h4>Walkers Piola</h4>
                <p>$5000</p>
            </div>
            <div class="col-lg-4 sm-12 fg">
                <img src="/images/WalkersB.PNG" alt="">
                <h4>Walkers Piola</h4>
                <p>$5000</p>
            </div>
            <div class="col-lg-4 sm-12 fg">
                <img src="/images/WalkersB.PNG" alt="">
                <h4>Walkers Piola</h4>
                <p>$5000</p>
            </div>
            <div class="col-lg-4 sm-12 fg">
                <img src="/images/WalkersB.PNG" alt="">
                <h4>Walkers Piola</h4>
                <p>$5000</p>
            </div>
            <div class="col-lg-4 sm-12 fg">
                <img src="/images/WalkersB.PNG" alt="">
                <h4>Walkers Piola</h4>
                <p>$5000</p>
            </div>
            <div class="col-lg-4 sm-12 fg">
                <img src="/images/WalkersB.PNG" alt="">
                <h4>Walkers Piola</h4>
                <p>$5000</p>
            </div>
        </div>
        
        <%- include('./partials/footer.ejs') %>

        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
    </div>
</body>
</html>