<%- include('./partials/head.ejs') %>


<%- include('./partials/header.ejs') %>

<main>

    <section class="galeria">
        <img src="/images/inicio.jpg">
        <!-- <img src="/images/handstand.PNG"> -->
    </section>

    <div class='cwcontainer '>

        <div class="col-6">
            <div class="conoceMas img-fluid">
                <img src="/images/B1.PNG">
            </div>
        </div>

        <div class="col-6">
            <div class="conoceMas img-fluid">
                <img src="/images/WalkersW2.PNG">
            </div>
        </div>

        <div class="zoom">
            <a href="/productos">
                <h2>CONOCE NUESTRAS FIELDS!</h2>
            </a>
        </div>

    </div>

    <div class="imagenbottom">
        <img src="/images/rails.PNG">
        <!-- <img src="/images/handstand.PNG"> -->
        <div class="mision">
            <p>Nuestra misioﾌ］ es combinar la pasioﾌ］ por las tradiciones     argentinas y el amor por el disenﾌバ,
                redefiniendo la bombacha de campo como un pantaloﾌ］ que se pueda usar tanto recorriendo las calles
                de Buenos Aires, como cabalgando en La Patagonia. </p>
        </div>
    </div>
</main>

<%- include('./partials/footer.ejs') %>