<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <a href="https://icons8.com/icon/9671/shopping-cart"></a>
    <title>FIELDS OUTFITTING</title>
</head>
<body>
<%- include('./partials/header.ejs') %>
    
    <main>
        
        <section class="galeria">
            <img src="/images/2019-04-30 04.24.18 1.jpg">
            <!-- <img src="/images/handstand.PNG"> -->
        </section>
        
        <div class='cwcontainer'>
            <div class="">
                
                <div class = >
                    <div class="conoceMas ">
                        <!-- <h3>Conoce nuestras FIELDS Classics</h3> -->
                        <img src="/images/B1.PNG">
                    </div>
                </div>
                
                
                
                <div class =>
                    <div class="conoceMas ">
                        <!-- <h3>Conoce nuestras FIELDS Walkers</h3> -->
                        <img src="/images/WalkersW2.PNG" >
                    </div>
                </div>
                
            </div>
        </div>
        
       
    </main> 
    
    <footer>
        <div class="galeriaFooter">
            <img src="/images/rails.PNG">
            <!-- <img src="/images/handstand.PNG"> -->
            <div class="mision"><p>Nuestra misioﾌ］ es combinar la pasioﾌ］ por las tradiciones argentinas y el amor por el disenﾌバ, redefiniendo la bombacha de campo como un pantaloﾌ］ que se pueda usar tanto recorriendo las calles de Buenos Aires, como cabalgando en La Patagonia. </p>
            </div>
        </div>
        
        <section class="nosotros">
            <div>
                
            </div>
            <div>
                
            </div>
        </section>

        <div class="footer">
            <h3>FIELDS Updates!</h3>
            
            <div class="container-fluid">
                <form action="">
                    <div class="row">
                        <div class="col-8"><input type="email" placeholder="Tu Mail"></div>
                        <div class="col-4"><button>Suscribirse!</button></div>
                    </div>
                </form>
            </div>
            
            <div>
                <ul >
                    <li><a href=""> Home</a></li>
                    <li><a href=""> Productos</a></li>
                    <li><a href=""> Contacto</a></li>
                </ul>
            </div>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</div>
</body>
</html>