<%- include('./partials/head.ejs') %>

    <%- include('./partials/header.ejs') %>
    
    
    <main>
             
        <div>
            
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">Ingresá</h4>
                    <p class="text-center">Bienvenido/a a Fields!</p>
                    <p>
                        <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Ingreso vía facebook</a>
                    </p>
                    <p>
                        <a href="" class="btn btn-block bg-warning"> <i class="fab"></i>   Ingreso vía gmail</a>
                    </p>
                    <p class="divider-text">
                        <span class="bg-light"></span>
                    </p>
                    <form>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="Email" type="email">
                        </div> 
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" placeholder="Contraseña" type="password">
                        </div>                                      
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Entrar </button>
                        </div>                                                                    
                    </form>
                </article>
            </div> 
            
        </div> 

        
            </main> 
            
            <%- include('./partials/footer.ejs') %>
            
     