<%- include('./partials/head.ejs') %>

    <%- include('./partials/header.ejs') %>
    
    <main>
             
        <div>
            
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">Load your Field</h4>
                    <p class="text-center">Welcome to Fields!</p>
                    <form method="POST" enctype="multipart/form-data">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="name" class="form-control" placeholder="Product Name" type="text" required>
                        </div> 
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input name="description" class="form-control" placeholder="description" type="text">
                        </div>

                        <!-- repite 4 veces  -->

                        <div class="form-group input-group row">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-default">XS</button>
                                  <button type="button" class="btn btn-default">S</button>
                                  <button type="button" class="btn btn-default">M</button>
                                  <button type="button" class="btn btn-default">L</button>
                                  <button type="button" class="btn btn-default">XL</button>
                                </div>
                            </div>
                            <div class="input-group-prepend col-2">
                            </div>
                            <input name="" class="form-control" placeholder="Quantity" type="number" required>
                        </div>
                        <div class="form-group input-group row">
                            <div class="btn-group col-12">
                                <label for="price">Price:</label>
                                <input name="price" class="number" placeholder="Price" type="number" required>
                            </div>
                        </div>
                        <div class="form-group input-group row">
                        <div class="btn-group col-12">
                            <label for="discount">Discount:</label>
                            <input name="discount" class="number" placeholder="Discount" type="number" required>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="category" class="form-label">Category:</label>
                            <select name="category" id="category" class="form-input">
                                <option value="">Choose</option>
                                <option value="highlighted">Highlighted</option>
                                <option value="visited"></option>
                            </select>
                        </div>
                        
                        <div class="col-12 col-md-6">
                            <label for="type" class="form-label">Type of Producto:</label>
                            <select name="type" id="tipo" class="form-input">
                                <option value="">Choose</option>
                                <option value="fields">Fields</option>
                                <option value="walkers">Walkers</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for='image-product' class='form-label input-group-btn'>Imágen del producto: </label>
                            <input accept=".jpg,.png,.jpeg,.gif" class="" id="banner_captura" name="image-product" type="file">
                        </div> 
                                            
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Load Product </button>
                        </div>                                                                       
                    </form>
                </article>
            </div>  
        </div> 
        
            </main> 
            
            <%- include('./partials/footer.ejs') %>
            