<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    
    
    <main>
             
        <div class="container">
            
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">Creá tu Cuenta</h4>
                    <p class="text-center">Bienvenido/a a Fields!</p>
                    <p>
                        <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Registro vía facebook</a>
                    </p>
                    <p>
                        <a href="" class="btn btn-block bg-warning"> <i class="fab"></i>   Registro vía gmail</a>
                    </p>
                    <p class="divider-text">
                        <span class="bg-light">Ó</span>
                    </p>
                    <form>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="Nombre Completo" type="text">
                        </div> 
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="Email" type="email">
                        </div> 
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                            </div>
                            <select class="custom-select" style="max-width: 120px;">
                                <option selected="">+54 9</option>
                                <option value="1">+972</option>
                                <option value="2">+198</option>
                                <option value="3">+701</option>
                            </select>
                            <input name="" class="form-control" placeholder="Número de Celular" type="text">
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" placeholder="Contraseña" type="password">
                        </div> 
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" placeholder="Repetir Contraseña" type="password">
                        </div>                                       
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Crear Cuenta </button>
                        </div>       
                        <p class="text-center">Tenés una cuenta? <a href="">Ingresá</a> </p>                                                                 
                    </form>
                </article>
            </div> 
            
        </div> 

        
            </main> 
            
            <%- include('./partials/footer.ejs') %>
            
     