* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

.name{
    text-transform: capitalize;
}

/*HEADER*/

.navbar {
    height: 15vh;
    z-index: 100;
    align-items: baseline;
}

.nav {
    width: 25px;
    margin: auto;
    justify-content: center;
}

.logo {
    width: 100px;
    top: 0;
    margin-top: 10px;
    
}

.logo img {
    width: 100%;
    margin-top: 10px;
}

.carrito img {
    width: 40px;
    margin: auto;
}

.navbar {
    width: 100%;
    margin-top: 0px;
    display: flex;
    margin-left: 0px;
    justify-content: space-between;
}

.navbar ul {
    list-style-type: none;
}


/*FIN HEADER*/


/* FOOTER*/



@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
body {
    background-color: #f3f6fd;
    font-size: 11.5px;
    font-weight: bold;
    color: rgb(189, 196, 203)
}

.card {
    padding: 2% 7%;
    color: #646771;
    background-color: #16151a;
    border-radius: 0%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    padding: 4px
}

ul>li:hover {
    color: #FAD919;
    cursor: pointer
}

hr {
    border-width: 3px
}

.social>i {
    padding: 1%;
    font-size: 15px
}

.social>i:hover {
    color: #FAD919;
    cursor: pointer
}

.policy>div {
    padding: 4px
}

.heading {
    font-family: 'Titillium Web', sans-serif;
    color: white
}

.divider {
    border-top: 2px solid rgba(189, 196, 203, 0.5);
}

.pagos {
    text-align: right;
}

.pagos li img{
    width: 30px;
}

.logoFooter {
    margin: auto;
}
.logoFooter img {
    width: 58%;
}


.footerContainer{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
.contacto li{
    
    margin-bottom: 10px;
}

.contacto a {
    color: #646771;
}
a:hover {
    color: #FAD919;
}

.envios{
    margin-top: 20px;
}

.pagos li{
    float: right;
}

.policyContainer{

    display: flex;
}

.policy{
    justify-content: end;
    
}

.policy a{
    color: #646771;
}

.policy a:hover{
    color: #FAD919;
}

@media (max-width: 576px){
    .footerContainer{
        display:flex;
        flex-flow: column;
    }
    .contacto{
        order: 2;
    }

    .logoFooter{
        order: 1;
        margin-bottom: 25px;
    }

    .pagos{
        order: 3;
    }
}
/*FIN FOOTER*/


/*INDEX*/

.galeria {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    
}

.contenedor {
    width: 100%;
    border-bottom: 1px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
}

.cwcontainer {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    float: left;
    margin-top: 20px;
}

.cwcontainer img {
    width: 103%;
    margin-left: -1.5%;
}

.zoom a {
    text-decoration: none;
    color: white;
}

.zoom {
    position: absolute;
    z-index: 10;
    align-self: center;
    color: white;
    text-decoration: none;
}

.carousel img {
    width: 80%;
}

.carouselIndex {
    margin-bottom: 20px;
    float: left;
}

.prod{
    margin-top: 15px;
    margin-bottom: 15px;
}

.imagenbottom {
    position: relative;
    display: flex;
    width: 100%;
    height: 50vh;
    margin-top: 5px;
}

.imagenbottom img {
    position: absolute;
    width: 100%;
    margin: 0%
}

.mision {
    background-color: rgba(95, 93, 93, 0.5);
    color: white;
    font-size: 1.5em;
    font-style: italic;
    position: absolute;
    z-index: 5;
    text-align: center;
    font-weight: bold;
    padding: 2%;
    width: auto;
    
}

.mision2 {
    background-color: rgba(49, 39, 66, 0.5);
    color: white;
    font-size: 0.7em;
    font-style: italic;
    position: absolute;
    z-index: 5;
    text-align: center;
    font-weight: bold;
    margin: 10%;
    padding: 10%;
    width: auto;
    height: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.galeriaIndex {
    height: 50vh;
    margin: 2%;
}

.productoIndex img {
    justify-content: center;
    padding: 25%;
    width: 100%;
}

.productoIndex {
    text-align: center;
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 576px) {
    .zoom h2 {
        font-size: 0.8em;
    }
    .carouselIndex {
        display: none;
    }
    .prod {
        display: none;
    }
}

.cart {
    margin-top: 5px;
}

.prod {
    text-align: center;
}


/*FIN INDEX*/

.compras {
    display: block;
    color: black;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    margin-bottom: 2%;
    border-radius: 20px;
    background-color: rgba(158, 158, 158, 0.5);
}

.compras img {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.comprasSub {
    margin-bottom: 10%;
}

.img {
    display: flex;
    justify-content: center;
    position: relative;
}

.close {
    position: absolute;
    margin-left: 35%;
    margin-top: 0%;
}

.fg {
    padding: 5%;
}

.fg img {
    width: 70%;
}


/* AGREGADO PA REGISTRO */

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}

.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}


/* FIN AGREGADO PA REGISTRO */

.footer h3 {
    padding: 2%
}


/*GALERIA*/

.selector {
    border-right: 0px;
    width: 100%;
    margin-left: 25px;
    text-align: center;
}

.selector ul {
    margin-top: 20px;
    width: 100%;
    list-style: none;
}

.selector a {
    color: black;
    padding: 2%;
}

@media (min-width: 577px) {
    .selector ul li {
        display: inline;
    }
}


/*FIN GALERIA*/


/*DETALLE PRODUCTO*/

.detalleProducto {
    height: auto;
    width: auto;
    margin-bottom: 0px;
}

.page-header {
    font-size: 25px;
    letter-spacing: 2px;
    margin-left: 15px;
}

.talles {
    width: 750px;
    height: 300px;
    overflow: hidden;
}

.talles img {
    width: 100%;
    height: auto;
}

@media(max-width: 576px) {}

@media (min-width: 577px) {}


/*FIN DETALLE PRODUCTO*/

/*PROFILE*/

body {
    background: #F1F3FA;
  }
  
  /* Profile container */
  .profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
  }
  
  .profile-userpic img {
    float: none;
    margin-left: 25%;
    width: 50%;
    height: 40%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usermail {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
      
  .profile-usermenu {
    margin-top: 30px;
    text-align: center;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }
  
/*FIN PROFILE*/