<footer>
    <div class="galeriaFooter">
        <img src="/images/rails.PNG">
        <!-- <img src="/images/handstand.PNG"> -->
        <div class="mision"><p>Nuestra misioﾌ］ es combinar la pasioﾌ］ por las tradiciones argentinas y el amor por el disenﾌバ, redefiniendo la bombacha de campo como un pantaloﾌ］ que se pueda usar tanto recorriendo las calles de Buenos Aires, como cabalgando en La Patagonia. </p>
        </div>
    </div>
    
    <section class="nosotros">
        <div>
            
        </div>
        <div>
            
        </div>
    </section>

    <div class="footer">
        <h3>FIELDS Updates!</h3>
        
        <div class="container-fluid">
            <form action="">
                <div class="row">
                    <div class="col-8"><input type="email" placeholder="Tu Mail"></div>
                    <div class="col-4"><button>Suscribirse!</button></div>
                </div>
            </form>
        </div>
        
        <div>
            <ul >
                <li><a href=""> Home</a></li>
                <li><a href=""> Productos</a></li>
                <li><a href=""> Contacto</a></li>
            </ul>
        </div>
    </div>
</footer>