<footer>
    <div class="container-fluid mt-5">
        <div class="card mx-5">
            <div class="row mb-4 ">
                <div class="col-md-4 col-sm-11 col-xs-11">
                    <div class="footer-text pull-left">
                        <div class="d-flex">
                            <div class="logoFooter">
                                <a href="/">
                                    <img src="/images/FieldsLogo.png" alt="Fields logo">
                                </a>
                            </div>
                        </div>

                        <div class="social mt-2 mb-3"> <i class="fa fa-facebook-official fa-lg"></i> <i class="fa fa-instagram fa-lg"></i> <i class="fa fa-twitter fa-lg"></i> <i class="fa fa-linkedin-square fa-lg"></i> <i class="fa fa-facebook"></i> </div>
                        <div class="container-fluid">
                            <p class="card-text">Fields Updates!</p>
                            <form action="">
                                <div class="row">
                                    <div class="col-8"><input type="email" placeholder="Tu Mail"></div>
                                    <div class="col-4"><button>Suscribirse!</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-1 col-xs-1 mb-2"></div>

                <div class="col-md-2 col-sm-4 col-xs-4">
                    <h5 class="heading">Contactanos</h5>
                    <ul class="card-text">
                        <li>fields@gmail.com</li>
                        <li>tel: 11-xxxx-xxxx</li>
                        <li>Ig</li>
                        <li>FB</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-8 pagos">
                    <h5 class="heading">Formas de Pago</h5>
                    <ul>
                        <li>Visa</li>
                        <li>AMEX</li>
                        <li>Master</li>
                        <li>MercadoPago</li>
                    </ul>

                    <h5 class="heading">Formas de Envio</h5>
                    <ul class="card-text">
                        <li>OCA</li>
                    </ul>
                </div>

            </div>
            <div class="divider mb-4"> </div>
            <div class="row" style="font-size:10px;">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="pull-left">
                        <p><i class="fa fa-copyright"></i> 2020 thezpdesign</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="pull-right mr-4 d-flex policy">
                        <div>Terms of Use</div>
                        <div>Privacy Policy</div>
                        <div>Cookie Policy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<!-- <script src="/js/jquery.js"></script> -->

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
</div>
</body>

</html>