<footer>

    
    <section class="nosotros">
        <div>
            
        </div>
        <div>
            
        </div>
    </section>

    <div class="footer">
        <h3>FIELDS Updates!</h3>
        
        <div class="container-fluid">
            <form action="">
                <div class="row">
                    <div class="col-8"><input type="email" placeholder="Tu Mail"></div>
                    <div class="col-4"><button>Suscribirse!</button></div>
                </div>
            </form>
        </div>
        
        <div>
            <ul >
                <li><a href=""> Home</a></li>
                <li><a href=""> Productos</a></li>
                <li><a href=""> Contacto</a></li>
            </ul>
        </div>
    </div>
</footer>