<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class= "carrito">
            <img src="https://img.icons8.com/ios/100/000000/shopping-cart.png"/>
        </div>

        <div class="logo">
            <a>
                <img src="/images/FieldsLogo.png" alt="Fields logo">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Registrarse</a>
                </li>
            </ul>
        </div>

        
    </nav>
</header>