<body class="container">
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light row">



            <div class="logo">
                <a href="/">
                    <img src="/images/FieldsLogo.png" alt="Fields logo">
                </a>
            </div>

            <div>
                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products">Products</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/user/log-in">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/user/sign-in">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart">
                                <!-- <img src="https://img.icons8.com/ios/100/000000/shopping-cart.png" /> -->
                                Cart
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/user/profile">Profile</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>


    </header>